:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --el-color-primary:#0062FF !important;
  --el-border-color-lighter:#0027666b !important;
  --el-fill-color-light:#575C6A !important;
  color:#F7FAFF;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('/src/assets/fonts/DINProBold.otf') format('opentype');
}

body {
  margin: 0;
  display: flex;
  min-width: 1300px;
  min-height: 100vh;
  background-color: rgb(24,29,35);
}


.el-header{
  padding:0 !important;
  --el-header-height:auto !important;
}

.el-table{
  border-radius: 5px;
  --el-table-header-bg-color:rgb(49,53,65) !important;
  --el-table-tr-bg-color:none !important;
  --el-table-text-color:#f7faff !important;
  --el-table-border:none !important;
  --el-table-border-color:none !important;
  --el-table-bg-color:none !important;
}

.el-table__header{
  color:rgb(152,153,158) !important;
}

.el-progress__text{
  color:#f7faff !important;
  min-width:30px !important;
  margin:none !important;
}

#app {
  text-align: center;
  width:100%;
  min-height:100%;
}

